<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
  </head>
  <body>
    <form class="upload" action="upload" method="post" enctype="multipart/form-data">
      <input type="file" name="upload" multiple width="100" height="60">
      <input type="submit" name="submit" value="submit" width="100" height="60">
    </form>

    <!-- <script type="text/javascript">
      var img = document.documentElementById("image");
      console.log(img);
      img.width = "100";
      img.style.height = "90";
    </script> -->

  </body>
</html>
